/* Box size fix: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  color: #333;
  background-color: #F2F2F2;
  margin: 0em;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Domine", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
  margin: 1em;
}

h2 {
  margin-bottom: 0em;
  margin-top: 1.5em;
  font-weight: 400;
}

.container {
  margin: 0em;
}

.mobnav {
  font-size: 24px;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-right: 1em;
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
}

.mobnav a {
  color: #333;
  text-decoration: none;
}

.nav {
  display: none;
}

.navscreen {
  position: fixed;
  background-color: #F2F2F2;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.shownavscreen {
  visibility: visible;
}

.icon {
  border: none;
  background: none;
}

.close {
  border: none;
  background: none;
}

.nslbox {
  padding-top: 10vh;
}

.navscreenlinks {
  text-decoration: none;
  color: #333;
  font-size: 36px;
  line-height: 2em;
  text-align: center;
  display: inherit;
}

.profile {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin: auto;
}

.iconlinks {
  margin-left: 1.5em;
  margin-bottom: 2em;
}

.github {
  margin-right: 0.75em;
}

.about {
  margin-left: 2em;
  margin-right: 2em;

}

.nca {
  background-color: #2F80ED;
  width: 100%;
  padding: 2em;
  color: white;
  display: flex;
  align-items: center;
}

.ssd {
  background-color: #F2994A;
  width: 100%;
  padding: 2em;
  color: white;
  display: flex;
  align-items: center;
}

.bonewars {
  background-color: #F2C94C;
  width: 100%;
  padding: 2em;
  color: white;
  display: flex;
  align-items: center;
}

.privdc {
  background-color: #56CCF2;
  width: 100%;
  padding: 2em;
  color: white;
  display: flex;
  align-items: center;
}

.portfolio {
  background-color: #BB6BD9;
  width: 100%;
  padding: 2em;
  color: white;
  display: flex;
  align-items: center;
}

.avenir {
  background-color: #EB5757;
  width: 100%;
  padding: 2em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tilepic {
  max-height: 500px;
  margin: auto;
}

.pasta {
  background-color: #6FCF97;
  width: 100%;
  padding: 2em;
  color: white;
  display: flex;
  align-items: center;
}

.monogram {
  background-color: #2D9CDB;
  width: 100%;
  padding: 2em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding-top: 1em;
  padding-bottom: -1em;
  text-align: center;
}

@media (min-width: 600px) {

  h1 {
    font-size: 2.75vw;
  }

  .nav {
    font-size: 24px;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-right: 2em;
    margin-left: 2em;
    display: flex;
    justify-content: space-between;
  }

  .navlinks {
    font-size: 18px;
    font-weight: 400;
  }

  .navlink {
    padding-left: 1em;
  }
  
  .nav a {
    color: #333;
    text-decoration: none;
  }
  
  .mobnav {
    display: none;
  }

  .profile {
    max-width: 25%;
    float: right;
    margin-right: 7%;
  }

  .headtext {
    float: left;
    max-width: 50%;
    margin-left: 2.25em;
    margin-top: 2em;
  }

  .iconlinks {
    clear: both;
    margin-left: 2.9em;
  }

  .hero {
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
  }

  .tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 800px) {

  .tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); */
  }

  .headtext {
    margin-left: 1em;
  }

  .iconlinks {
    margin-left: 2.5em;
  }

}