body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: black;
  margin: 0px;
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

nav {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5em;
  line-height: 2em;
  font-family: "Oswald", sans-serif;
}

.nav1 {
    width: 50%;
    padding-left: 1em;
    display: inline-block;
}

.active {
  display: inline-block;
}

.nav2 {
  text-align: right;
  display: inline-block;
  width: 47%;
  position: relative;
}

.background {
  width: 100%;
  background-color: black;
  background-image: url(../img/background2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.title {
  font-family: "Oswald", sans-serif;
  color: white;
  text-align: center;
  margin-top: 35vh;
  font-size: 5vh;
  line-height: 3vh;
}

.details {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

nav a {
  text-decoration: none;
  color: white;
  padding-right: 1em;
}

nav a:visited {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: orange;
}

.active a {
  text-decoration: underline;
}

.aboutpic {
  background-color: grey;
  background-image: url(../img/about.jpg);
  background-size: cover;
  display: grid;
  line-height: 5vh;
  font-family: "Oswald", sans-serif;;
  padding-bottom: 2vw;
  color: white;
}

.portfoliopic {
  background-color: grey;
  background-image: url(../img/background.jpg);
  background-size: cover;
  display: grid;
  line-height: 5vh;
  font-family: "Oswald", sans-serif;;
  padding-bottom: 2vw;
  color: white;
}


.pagetitle {
    padding-top: 2vw;
    font-size: 2em;
    text-align: center;
}

.fontposter {
  width: 30%;
}

.beijingposter {
  width: 30%;
}

.monogram {
  width: 30%;
}

.label {
  width: 30%;
}
